		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

		<script src="https://kit.fontawesome.com/160f8a0fd9.js" crossorigin="anonymous"></script>
		


@font-face {
    font-family: 'scare_armsregular';
    src: url('webfontkit-20201203-031508/scarearms-lxj4-webfont.woff2') format('woff2'),
         url('webfontkit-20201203-031508/scarearms-lxj4-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}	


@font-face {
    font-family: 'world_conflictregular';
    src: url('fonts/worldconflict/worldconflictregular-p26r-webfont.woff2') format('woff2'),
         url('fonts/worldconflict/worldconflictregular-p26r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


<style>



	html{
		
		scroll-behavior:smooth;	
		
	}
	
	body{
		
		scroll-behavior:smooth;
		
	}
	
	.borderHover:hover{
		
		border-bottom:3px solid black;
		transition:0.5s;
		
	}
	
	.container{
		
		text-align:center;
		width:600px;
		padding:10px 5px;
		margin-left:140px;
		
	}	
	
	.dropdown-menu{
		
		background-color:#F7F7F7;
		border:none;
		display:none;
		
	}	
	
	.dropdown-item:hover{
		
		background-color:white;
		
	}
	
	.dropdown-divider{
		
		border-bottom:1px solid lightgrey;
		
	}
	
	#rentalDropdownMenu{
		
		display:none;
		
	}
	
	#logoImg{
		
		margin-left:-10px;
		width: 150px;
		height: 100px;
		padding-bottom:4px;

	}
	
	#jumbotron_1{
		
		background-image:url("../images/HomePage/porsche_resize.jpg");
		height:910px;
		background-size:cover;
		margin-bottom:0px;
		margin-top:-150px;
		text-align:center;
		border-radius:0px;
		padding:0px;
		
	}

	h1 {
		font-family: 'world_conflictregular';
		position: absolute;
		top: 125px;
		left: 110px;
		font-size: 140px;
		opacity: .9;
	}
	
	#jumbotron_2{
		
		height:1000px;
		background-size:cover;
		background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/HomePage/wheelbackground.jpg");
		
	}
			
	#jumbotron_2 p{
		
		color:white;
		opacity:1;
		
	}
			
	#jumbotron_3{
	
		background-image:url("../images/HomePage/bronco.jpeg");
		background-size:cover;
		height:800px;
		margin-bottom:0px;
		text-align:center;
		margin-right:0px;
		border-radius:0px;
		
	}
	

	.jumbotron img{
				
		text-align:center;
		margin-left:auto;
		margin-right:auto;
				
	}
			
	.button{
				
		width:auto;
		border:2px outset black;
		border-radius:17px;
		padding:10px 7px ;
		background-color:transparent;
		transition:0.4s;
				
	}
			
	.button:hover{
				
		background-color:white;
		transition:0.7s;
		font-size:17px;
		box-shadow:2px 5px 10px black;
		
	}
			
	.button:active{
		
		box-shadow:0 2px 5px grey;
		transform: translateY(4px);
		transition:0.2s;
		
	}
			
	#sgnInBtn{
		
		margin-top:-2px;
		width:110px;
		border-color:black;
		
	}
			
	#sgnInBtn:hover{
				
		border-color:lightgrey;
		background-image:linear-gradient(to bottom right, grey, lightgrey);
	
	}
			
	#buyNowBtn{
		
		float:left;
		background-color:white;
		
	}
			
	#buyNowBtn:hover{
			
		background-image:linear-gradient(to bottom right, grey, lightgrey);				
		border-color:silver;
				
	}
			
	#seeMoreBtn{
		
		background-color:white;
		float:right;
			
	}
			
	#seeMoreBtn:hover{
				
		border-color:silver;
		background-image:linear-gradient(to bottom right, grey, lightgrey);
		
	}
			
	.arrowMarkImg{
				
		margin-left:5px;
		height:20px;
		width:20px;
		
	}
		
	#buyMoreBtnCntr{
		
		text-align:center;
		background-color:transparent;
		padding:20px;
		width:400px;
		height:100px;
		position:absolute;
		left:420px;
		margin-top:500px;
		
	}
			
	#goTopBtn{
				
		position:fixed;
		bottom:15px;
		background-color:white;
		width:125px;
		margin-left:25px;
		
	}
			
	#goTopBtn:hover{
		
		background-image:linear-gradient(to bottom right, grey, lightgrey);
		
	}
	
	.arrowMarkImgRotate{
		
		transform: rotate(90deg);
		
	}

	.panel-footer {

		padding-top: 35px;
		background-color:#343A40;
		border-top: 0;
		color:#DEFFFF;
		margin-bottom:70px;;

	}

	#hours, #address {
		
		padding-left: 30px;
		padding-right: 30px;

	}

	#address p {
	
		color: lightgrey;	
		font-size: 13px;
		
		}

	#testimonials {

		font-style: italic;	
		padding-left: 30px;
		padding-right: 30px;
	
	}
			
	.sclMedia{
	
		margin-left:300px;
		
	}
		
	#instaIcon{
		
		width:30px;
		height:30px;
		margin-left:10px;
		position:relative;
		top:-2px;
		
	}
			
	#twitterIcon{
		
		width:30px;
		height:30px;
		margin-left:10px;
		position:relative;
		top:-2px;
		
	}
			
	#facebookIcon{
		
		width:20px;
		height:20px;
		margin-left:15px;				
		position:relative;
		top:-2px;
		
	}
		
	.box {
		
		transform: translate(-50%, -50%);
		text-align:center;
		
	}
	
	.box span{
		
		display:block;
		width:20px;
		height:20px;
		border-bottom:2px solid white;
		border-right:2px solid white;
		transform:rotate(45deg);
		animation: animate 2s infinite;
		margin-left:70px;
		margin-top:-14px;	
		
	}
		
	.box span:nth-child(1){
		
		animation-delay:0.5s;
		
	}
	
	.box span:nth-child(2){
		
		animation-delay:0.3s;
		
	}
			
	.box span:nth-child(3){
		
		animation-delay:0.1s;
		
	}
	
	@keyframes animate{

		0%{
			
			opacity:0;
			transform:rotate(45deg) translate(-20px, -20px);
			
		}
		
		50%{
			
			opacity:1;
			
		}
		
		100%{
			
			opacity:0;
			transform:rotate(45deg) translate(20px, 20px);
			
		}
		
	}
			
	#scrollArrowBtn{
		
		background-color:transparent;
		width:200px;
		height:90px;
		padding:15px;
		position:absolute;
		bottom:-40px;
		left:50%;
		border-radius:15px;
		border:none;
		
	}
	
	#scrollArrowBtn:focus{
		
		outline:none;
		
	}
		
	#scrollBgBox{
		
		background-color:#343A40;
		height:100px;
		width:100%;
		position:absolute;
		bottom:0px;
		text-align:center !important;
		opacity:0.5;
		
	}

	#ftrCntr{
		
		
		
	}
	
	.verticalBorder{
	
		border-left:3px solid white;
		height:600px;
		position:absolute;
		left:50%;
	
	}		
	
	#ftrVertBrdr{
		
		height:400px;
		left:65%;
		margin-top:150px;
	
	}
	
	#ftrHrztBrdr{
		
		height:400px;
		left:65%;
		margin-top:150px;
		border-left:2px solid white;
		
	}





</style>